################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChatMessenger/.vs
/ChatMessenger/obj
/chat-messenger/.vscode
